<!DOCTYPE html>
<html lang="en">
<head>
    <style>


    </style>
    <meta charset="UTF-8">
    <title>poke sandbox</title>
    <!--    bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body class="container bg-gradient">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!--Profile section V1 -->
<div class="container">
    <div class="row">

        <div id="myProfile" class="col-4 border-success">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">USER NAME HERE</h5>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Wins/losses</li>
                    <li class="list-group-item">XP(use a bar here if possible)</li>
                    <li class="list-group-item">Level</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>


        </div>
        <!--card section V1-->

        <figure class="card card--normal">
            <div class="card__image-container">
                <img th:src="${Card.getImage()}" alt="pokemon" class="card__image">
            </div>

            <figcaption class="card__caption">
                <h1 th:text="${Card.getName()}" class="card__name"></h1>

                <h3  class="card__type">
                    Type: <span th:text="*{Card.getType()}"></span>
                </h3>

                <table class="card__stats">
                    <tbody><tr>
                        <th>HP</th>
                        <td><span th:text="*{Card.getHp()}"></span></td>
                    </tr>
                    <tr>
                        <th>Attack</th>
                        <td><span th:text="*{Card.getAttack()}"></span></td>
                    </tr>

                    <tr>
                        <th>Rarity</th>
                        <td><span th:text="*{Card.getRarity()}"></span></td>

                    </tbody></table>

                <div class="card__abilities">
                    <h4 class="card__ability">
                        <span class="card__label">Ability</span>
                        Run Away
                    </h4>
                    <h4 class="card__ability">
                        <span class="card__label">Hidden Ability</span>
                        Anticipation
                    </h4>
                </div>
            </figcaption>
        </figure>

        <div id="myCards" class="col col-4 border border-2">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">

                        <a href="#" class="btn btn-primary">I choose you</a>
                    </div>
                </div>

            </div>

        </div>
        <!--        store and pouch section V1-->

        <div class=" col border border-2 col">
            <div class="container" id="items">
                <div class="col">
                    <h5>Store</h5>
                    <div class="row" id="store">
                        <div><a href="#">Item will here</a></div>
                        <div><a href="#">Item will here</a></div>
                        <div><a href="#">Item will here</a></div>
                        <div><a href="#">Item will here</a></div>
                        <div><a href="#">Item will here</a></div>
                        <div><a href="#">Item will here</a></div>


                    </div>
                    <hr>
                    <h5>Pouches</h5>
                    <div class="row" id="pouches">
                        <div class=" col border border-2">
                            <div class="col">ROCK</div>
                            <div class="col">STICK</div>
                            <div class="col" >TREAT</div>
                        </div>
                        <div class="col border border-2">
                            <div class="col">PROTEIN BAR</div>
                            <div class="col">Bandage</div>
                            <div class="col">Potion</div>
                        </div>
                        <div class="col border border-2">
                            <div class="col">Stick</div>
                            <div class="col">Treat</div>
                            <div class="col">Potion</div>
                        </div>


                    </div>
                </div>
            </div>


        </div>

    </div>
    <!--    place holder battle button-->
    <div class="row">
        <div class="mx-auto" style="width: 200px;">
            <button>Battle Now</button>
        </div>
    </div>
</div>


</body>

</html>